In [36]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [37]:
df = pd.read_csv("train.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [38]:
df = df.drop(["Name","Ticket","Cabin","Embarked"],axis=1)
print(len(df))
df.head()

891

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [44]:
df.dropna()

TypeError: dropna() got an unexpected keyword argument 'index'

In [40]:
df = df.dropna(axis=0)

In [41]:
y = df.Survived
X = df.drop(["Survived"],axis=1)

In [42]:
gender = df.Sex

In [43]:
gd = pd.get_dummies(gender)
gd.male

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: male, Length: 714, dtype: uint8